<%- include('../partials/header') %>
<!-- flight.airline etc.. comes from flight controller show() function -->
<section id="show-page">
  <div>Airline: </div>
  <div><%= flight.airline %></div>
  <div>Flight No: </div>
  <div><%= flight.flightNo %></div>
  <div>Airport: </div>
  <div><%= flight.airport %></div>
  <div>Departs: </div>
  <div><%= flight.departs %></div>
  
</section>

<br><br><h2>Destinations</h2>
<form id="add-review-form" method="POST"
  action="/flights/<%=flight._id%>/destinations">
  <label>Arrival
    <input type="datetime-local" name="arrival">
    </label><br>
  <label>Destination:</label>
  <!-- name=airport is the key for the model -->
  <select name="airport">
    <option value="DEN">DEN</option>
    <option value="ATL">ATL</option>
    <option value="DFW">DFW</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
  </select>
  <input type="submit" value="Add Arrival">
</form>
  

<% if (flight.destinations.length) { %>
  <table>
    <thead>
      <tr>
        
        <th>Airport</th>
        <th>Arrival</th>
      </tr>
    </thead>
    <tbody>
      <% flight.destinations.forEach(function(d) { %>
        <tr>
          <td><%= d.airport %></td>
          <td><%= d.arrival %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No destinations yet</h5>
<% } %>


<%- include('../partials/footer') %>
